@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

h1 {
  font-size: 7.6rem;
  font-style: normal;
  font-weight: 770;
  line-height: 9.5rem;
}

h2 {
  font-size: 5.4rem;
  font-style: normal;
  font-weight: 770;
  line-height: 6.7rem;
}

h3 {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 770;
  line-height: 3.5rem;
}

h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 770;
  line-height: 2.5rem;
}

.button {
  width: 14rem;
  height: 5rem;
  border-radius: 5rem;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}
.button_green {
  background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
}
.button_green:hover {
  background: #67c74f;
}
.button_grey {
  margin-left: 3rem;
  background: #494949;
}
.button_grey:hover {
  background: #868383;
}

.icon {
  border: none;
  background: none;
  cursor: pointer;
}

.eat-healthy__text {
  max-width: 55rem;
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.4rem;
}

.colortext {
  color: #5FB848;
}

.choose-us__heading {
  margin-bottom: 0;
  text-align: center;
}

.choose-us__text {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2.4rem;
}

.chouse-us-numbers {
  font-style: normal;
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.5rem;
}

.about-us__text {
  font-style: normal;
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 3.4rem;
}

.fresh__text {
  margin-bottom: 4rem;
  font-style: normal;
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 3.4rem;
}

.chefs__text {
  font-style: normal;
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 3.4rem;
}

.special-dishes__heading {
  margin-bottom: 0;
}

.special-dishes__text {
  text-align: center;
  font-size: 2.4rem;
}

.special-dishes__card-text {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.client-name h4 {
  margin-bottom: 0.5rem;
}

.client-card__heading {
  display: flex;
  justify-content: space-between;
}

.client-card__text {
  padding: 3rem 1rem;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3rem;
}

.subscribe__heading {
  margin-bottom: 0.5rem;
}

.subscribe__text {
  font-style: normal;
  font-weight: 200;
  font-size: 2.2rem;
  line-height: 3.4rem;
}

.footer__text {
  font-style: normal;
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 2rem;
}

.choose-us__cards {
  padding: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.choose-us__cards > * {
  flex-basis: 25%;
}

.choose-us__cards-info {
  margin: auto;
  padding-bottom: 10rem;
  width: 70rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.choose-us__cards-info > * {
  flex-basis: 14rem;
}

.choose-us__card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.choose-us__card-item p {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.choose-us__card-info-item {
  text-align: center;
}
.choose-us__card-info-item p {
  font-style: normal;
  font-weight: 200;
  font-size: 2rem;
  line-height: 2.5rem;
}

.special-dishes__cards {
  margin: 2rem 0 3rem 0;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.special-dishes__cards > * {
  flex-basis: 14rem;
}

.special-dishes__card {
  padding: 3rem;
  box-shadow: -15px -50px 81px #FFFFFF, 10px 20px 70px rgba(71, 68, 68, 0.08);
  transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.special-dishes__card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.clients-info__cards {
  margin: 0 15rem 5rem 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.clients-info__cards > * {
  flex-basis: 47rem;
}

.client-card {
  box-shadow: 3px 15px 35px rgba(120, 125, 173, 0.06);
}

.subscribe__input {
  padding-left: 1rem;
  width: 33rem;
  height: 5rem;
  border: 2px solid #F5F5F5;
  box-sizing: border-box;
  border-radius: 16rem;
}

.eat-healthy__image img {
  max-width: 68rem;
  max-height: 68rem;
}

.about-us__image img {
  max-width: 64rem;
}

.chefs__image img {
  max-width: 72rem;
}

.clients-info__arrow {
  cursor: pointer;
}

.chefs__list {
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 2.5rem;
  list-style-image: url("../assets/check.svg");
}

.chefs__chefs-item {
  padding-bottom: 2rem;
}

.footer__main {
  padding: 5rem;
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  padding: 1rem 0;
  background: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
  color: #FFFFFF;
  text-align: center;
}

.header {
  margin: 3rem 7rem 0 7rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__logo a {
  color: #181D19;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 4rem;
}

.header__nav-list {
  display: flex;
  margin-right: 25rem;
}

.header__nav-list-item {
  padding: 0 2rem;
  list-style: none;
  transition: 0.3s;
}

.header__nav-list-item:hover {
  font-size: 1.5rem;
}

.header__nav-list-item a {
  text-decoration: none;
  color: #181D19;
}

.footer__nav-block {
  display: flex;
}

.footer__nav {
  padding: 0 5rem;
}

.footer__nav-list-item {
  padding-bottom: 1rem;
  list-style: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 2rem;
}

.footer__nav-list-item:nth-child(1) {
  padding-bottom: 1.5rem;
  font-weight: bold;
}

.wrapper {
  margin: auto;
  max-width: 1280px;
}

.eat-healthy {
  display: flex;
}

.about-us {
  margin-bottom: 14rem;
  display: flex;
  justify-content: space-between;
}

.about-us__info {
  margin-top: 5%;
  max-width: 48rem;
}

.fresh {
  margin-bottom: 10rem;
  display: flex;
  justify-content: space-between;
}

.fresh__info {
  max-width: 51rem;
}

.chefs {
  display: flex;
  justify-content: space-between;
}

.chefs__info {
  max-width: 50rem;
}

.special-dishes {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clients-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe {
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
