@import "base/base";
@import "components/components";
@import "abstract/constants";

.button {
    width: 160px;
    height: 54px;
    border-radius: 50px;
}

.button_green {
    background: $color-green-gradient;
}

.button_grey {
    background: $color-header-button;
}