.footer__main {
    padding: 5rem;
    @include info-blocks();
}

.footer__copyright {
    padding: 1rem 0;
    background: $color-green-gradient;
    color: $color-text-alt;
    text-align: center;
}
