.header {
    margin: 3rem 7rem 0 7rem;
    align-items: center;
    @include info-blocks();
}

.header__logo a {
    color: $color-text;
    text-decoration: none;
    @include font-paragraph(2.6rem, 4rem, 500)
}
