.wrapper {
    margin: auto;
    max-width: $content-width;
}

.eat-healthy {
    display: flex;
}

.about-us {
    @include info-blocks();
}

.about-us__info {
    max-width: 48rem;
}

.fresh {
    @include info-blocks();
}

.chefs {
    @include info-blocks();
}

.special-dishes {
    @include info-blocks-alt();
}

.clients-info {
    @include info-blocks-alt();
}

.subscribe {
    @include info-blocks-alt();
}

.footer__main {
    display: flex;
}