.wrapper {
    margin: auto;
    max-width: $content-width;
}

.eat-healthy {
    display:flex;
}

.about-us {
    display: flex;
    justify-content: space-between;
}

.about-us__info {
    max-width: 48rem;
}