.wrapper {
    margin: auto;
    max-width: $content-width;
}

.eat-healthy {
    display: flex;
}

.about-us {
    margin-bottom: 14rem;
    @include info-blocks();
}

.about-us__info {
    margin-top: 5%;
    max-width: 48rem;
}

.fresh {
    margin-bottom: 10rem;
    @include info-blocks();
}

.fresh__info {
    max-width: 51rem;
}

.chefs {
    @include info-blocks();
}

.chefs__info {
    max-width: 50rem;
}

.special-dishes {
    margin-top: 5rem;
    @include info-blocks-alt();
}

.clients-info {
    @include info-blocks-alt();
}

.subscribe {
    margin: 8rem auto;
    @include info-blocks-alt();
}
