$color-text: #181D19;
$color-text-alt: #FFFFFF;
$color-active: #5FB848;
$color-green-gradient: linear-gradient(180deg, #64BB47 0%, #2C9553 100%);
$color-header-button: #494949;
$color-header-hovered: #868383;
$color-button-hovered: #67c74f;

$content-width: 1280px;
