.choose-us__cards {
    @include columns(25%);
    padding: 6rem;
}

.choose-us__cards-info {
    margin: auto;
    padding-bottom: 10rem;
    width: 70rem;
    @include columns(14rem);
}

.choose-us__card-item {
    @include info-blocks-alt();
    & p {
        @include font-paragraph(1.8rem, 2.8rem);
        text-align: center;
        margin: 0;
    }
}

.choose-us__card-info-item {
    text-align: center;
    & p {
        @include font-paragraph(2rem, 2.5rem);
    }
}

.special-dishes__cards {
    margin: 2rem 0 3rem 0;
    justify-content: space-evenly;
    @include columns(14rem);
}

.special-dishes__card {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -15px -50px 81px #FFFFFF, 10px 20px 70px rgba(71, 68, 68, 0.08);
}

.clients-info__cards {
    margin: 0 15rem 5rem 15rem;
    @include columns(47rem);
}

.client-card {
    box-shadow: 3px 15px 35px rgba(120, 125, 173, 0.06);
}

.client-card__heading {
    @include info-blocks();
}