html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
}

h1 {
    @include font-heading(7.6rem, 9.5rem);
}

h2 {
    @include font-heading(5.4rem, 6.7rem);
}

h3 {
    @include font-heading(2.8rem, 3.5rem);
}

h4 {
    @include font-heading(2rem, 2.5rem);
}

.eat-healthy__text {
    max-width: 550px;
    font-size: 2.4rem;
    line-height: 3.4rem;
}

.choose-us__heading {
    margin-bottom: 0;
    text-align: center;
}

.choose-us__text {
    text-align: center;
    font-size: 2.4rem;
}

.about-us__text {
    @include font-paragraph()
}