html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
}

h1 {
    @include font-heading(7.6rem, 9.5rem);
}

h2 {
    @include font-heading(5.4rem, 6.7rem);
}

h3 {
    @include font-heading(2.8rem, 3.5rem);
}

h4 {
    @include font-heading(2rem, 2.5rem);
}

.eat-healthy__text {
    max-width: 550px;
    font-size: 2.4rem;
    line-height: 3.4rem;
}

.choose-us__heading {
    margin-bottom: 0;
    text-align: center;
}

.choose-us__text {
    margin-bottom: 4rem;
    text-align: center;
    font-size: 2.4rem;
}

.about-us__text {
    @include font-paragraph();
}

.fresh__text {
    @include font-paragraph();
    margin-bottom: 4rem;
}

.chefs__text {
    @include font-paragraph();
}

.chefs__list {
    margin-top: 3rem;
    font-size: 20px;
    line-height: 25px;
    list-style-image: url("../assets/check.svg");
}

.chefs__chefs-item {
    padding-bottom: 2rem;
}

.chouse-us-numbers {
    @include font-paragraph(4.4rem, 5.5rem, 700);
}

.special-dishes__heading {
    margin-bottom: 0;
}
.special-dishes__text {
    text-align: center;
    font-size: 2.4rem;
}

.special-dishes__card-text {
    text-align: center;
    @include font-paragraph(1.6rem, 2.8rem, 300);
}

.client-name h4 {
    margin-bottom: 0.5rem;
}

.client-card__text {
    padding: 3rem 1rem;
    @include font-paragraph(1.8rem, 3rem, 300);
}

.subscribe__heading {
    margin-bottom: 0.5rem;
}

.subscribe__text {
    @include font-paragraph();
}

.subscribe__input {
    padding-left: 1rem;
    width: 33rem;
    height: 5rem;
    border: 2px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 16rem;
}

.footer__text {
    @include font-paragraph(1.3rem, 2rem, 200);
}