@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.button {
    width: 14rem;
    height: 5rem;
    border-radius: 5rem;
    font-family: 'Open Sans', sans-serif;
    color: $color-text-alt;
    cursor: pointer;
	@include font-heading(1.5rem, 2rem, 400);

    &_green {
        background: $color-green-gradient;
        &:hover {
            background: $color-button-hovered;
        }
    }
    &_grey {
        margin-left: 3rem;
        background: $color-header-button;
        &:hover {
            background: $color-header-hovered;
        }
    }
}

.icon {
    border: none;
    background: none;
    cursor: pointer;
}